* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

/* This is flexbox specific*/
#header,
#subheader,
#facts,
#action {
    display: flex;
    flex: 0 1 0;
    justify-content: center;
    align-items: center;
}

#info {
    display: flex;
    flex-direction: column;
}

#headerlinks {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

#header {
    justify-content: space-between;
}

/* This is flexbox specific*/

/* This is box and padding specific*/

#subheader {
    padding-bottom: 80px;
}

#info {
    padding: 80px;
}

#subheadertxt {
    width: 300px;
}

#subheadertxt2 {
    margin-bottom: 20px;
}

#quote{
    padding: 80px;
}

#facttxt {
    margin: 100px;
}

.facttxt {
    padding: 25px;
}

#action {
    margin: 80px;
    padding: 20px;
    height: 150px;
    width: 500x;
    border-radius: 10px;
}

#actiontxt {
    width: 400px;
}

/* This is box and padding specific*/

/* This is image specific*/
img {
    display: block;
    max-width: 100%;
}

.picfact {
    width: 250px;
    height: 150px;
    border-radius: 15px;
}

#headerimg {
    width: 125px;
    height: 1;
    border-radius: 5px;
}

#subheaderimg {
    width: 250px;
    height: 150px;
    border-radius: 15px;
}
/* This is image specific*/

/* This is list specific*/
ol,
ul,
li {
    padding-left: 0;
    list-style: none;
    list-style-position: inside;
    padding: 5px;
}
/* This is list specific*/

/* This is font and colour specific*/
.txt1 {
    font-size: 14px;
    font-weight: lighter;
    color: #E3EDFF;
}

#subheadertitle {
    font-weight: bolder;
    font-size: 48px;
    color: white;
}

#subheadertxt2 {
    font-size: 20px;
    color: white;
}

#infotitle {
    font-weight: bold;
    font-size: 36px;
    color: #1A2061;
}

.facttxt {
    font-size: 16px;
}

#quotetxt {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

#quotename {
    font-size: 28px;
    font-weight: bolder;
    color: #1A2061;
}

#actiontitle {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

#actionfulltxt {
    font-size: 18px;
    color: white;
}

/* This is font and colour specific*/

/* This is button specific*/

#subbutton,
#actionbutton {
    background-color: #2669D8;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}

#subbutton {
    font-weight: bolder;
    border: none;
}

#actionbutton {
    border-color: white;
}
/* This is button specific*/

/* This is background-color specific*/
#header,
#subheader,
.footer {
    background-color: #1F2937;
}

#quote {
    background-color: #E5E7EB;
}

#action {
    background-color: #2669D8;
}

/* This is background-color specific*/


/* This is alignment specific*/
.facttxt,
.footer,
#infotitle {
    text-align: center;
}

#quotename {
    text-align: right;
}

.picfact {
    margin-left: auto;
    margin-right: auto;
}
/* This is alignment specific*/
