

#header,
#subheader,
#action {
    display: flex;
    flex: 1 0 0;
}

#subheader,
#info,
#quote,
#action {
    padding: 50px;
}

#actionfulltxt {
    padding-right: 50px;
}

#Headerlinks {
    display: flex;
    flex: 1 0 0;
    justify-content: flex-end
}

#headerimg {
    display: flex;
    flex: 1 0 0 ;
    height: 100px;
    width: 200px;
}

#action {
    background-color: lightseagreen;
    margin: 100px;
    border-radius: 25px;
}

#info {
    display:flex;
    flex-direction: column;
    flex: 1 0 0;
}

#facts{
    display:flex;
    text-align: center;
    flex: 1 0 0;
}

h1,
#actiontitle {
    color: #f9faf8;
    font-size: 32px;
    font-weight: bolder;
}

.subtitle,
#quotetext {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

#quotetext {
    font-style: italic;
    padding: 20px;
}

.text,
#Headerlinks {
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
}

#quote {
    background-color: #E5E7EB;
}

#header, 
#subheader, 
#footer {
    background-color: #1f2937;
}

img {
    width: 200px;
    height: 200px;
    margin: 20px;
}